.start-animation {
  background-color: #F6F7F8;
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 5;
  animation: start-fade-out-background 0.5s ease-in-out both 1s;
}
.start-animation .logo-animation {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  animation: start-desktop-animation 1s ease-in-out both 1s;
}
@keyframes start-fade-out-background {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
@keyframes start-desktop-animation {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  70% {
    opacity: 0.5;
    transform: scale(0.1);
    top: 5%;
    left: 5%;
  }
  100% {
    opacity: 0;
    transform: scale(0);
    z-index: 0;
    top: 5%;
    left: 5%;
  }
}

.mobile-logo-animation {
  display: none;
}

.log-in {
  display: flex;
  position: relative;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.log-in .log-in-logo {
  position: absolute;
  top: 8%;
  left: 8%;
}
.log-in .sign-up {
  position: absolute;
  right: 8%;
  top: 5%;
}
.log-in .sign-up .sign-up-button {
  background-color: #2A3647;
  color: white;
  padding: 10px 32px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  text-decoration: none;
  font-weight: 700;
  margin-left: 32px;
}
.log-in .sign-up .sign-up-button:hover {
  background-color: #29ABE2;
}
.log-in .form-class {
  height: 400px;
  width: 500px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.0392156863);
  position: relative;
}
.log-in .form-class .arrow-left-icon {
  position: absolute;
  top: 5%;
  left: 5%;
  cursor: pointer;
}
.log-in .form-class .log-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.log-in .form-class .log-in-form .log-in-headline {
  font-size: 61px;
  font-weight: 700;
  border-bottom: 3px solid #29ABE2;
  padding-bottom: 10px;
  margin-bottom: 25px;
  margin-top: 16px;
}
.log-in .form-class .log-in-form .name-input {
  margin-bottom: 25px;
  width: 60%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #D1D1D1;
  background: white url("../assets/images/person-icon.png") right no-repeat;
  background-position: 94% 55%;
}
.log-in .form-class .log-in-form .email-input {
  margin-bottom: 25px;
  width: 60%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #D1D1D1;
  background: white url("../assets/images/letter-icon.png") right no-repeat;
  background-position: 94% 55%;
}
.log-in .form-class .log-in-form .password-input {
  margin-bottom: 25px;
  width: 60%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #D1D1D1;
  background: white url("../assets/images/lock-icon.png") right no-repeat;
  background-position: 94% 55%;
}
.log-in .form-class .log-in-form ::placeholder {
  opacity: 0.5;
}
.log-in .form-class .log-in-form .log-in-checkbox-div {
  font-size: 13px;
  display: flex;
  margin-bottom: 25px;
}
.log-in .form-class .log-in-form .log-in-checkbox-div .remember-me {
  margin-left: 8px;
  font-style: normal;
  font-weight: 500;
}
.log-in .form-class .log-in-form .log-in-checkbox-div .forgot-password-link {
  text-decoration: none;
  color: #29ABE2;
  margin-left: 25px;
}
.log-in .form-class .log-in-form .log-in-checkbox-div .forgot-password-link:hover {
  color: #1188bb;
}
.log-in .form-class .log-in-form .log-in-checkbox-div input[type=checkbox] {
  cursor: pointer;
  accent-color: #2A3647;
}
.log-in .form-class .log-in-form .log-in-checkbox-div input:focus {
  outline: none;
}
.log-in .form-class .log-in-form .log-in-button {
  background-color: #2A3647;
  color: white;
  padding: 10px 32px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  height: 51px;
  width: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  text-decoration: none;
  padding: 0px;
}
.log-in .form-class .log-in-form .log-in-button:hover {
  background-color: #29ABE2;
}
.log-in .form-class .log-in-form .guest-log-in-button {
  color: #2A3647;
  background-color: white;
  cursor: pointer;
  padding: 10px 8px;
  border-radius: 6px;
  font-weight: 700;
  border: 1px solid #2A3647;
  font-size: 16px;
}
.log-in .form-class .log-in-form .guest-log-in-button:hover {
  color: #29ABE2;
  border: 1px solid #29ABE2;
}
.log-in .login-popup {
  color: white;
  background-color: #2A3647;
  padding: 8px 8px;
  border-radius: 6px;
  font-weight: 500;
  border: none;
  margin-top: 16px;
  text-align: center;
}

/*** MEDIA QUERY ***/
@media (max-width: 600px) {
  /*** Mobile Animation ***/
  .start-animation {
    display: none;
  }
  .logo-animation {
    display: none;
  }
  .mobile-start-animation {
    background-color: #2A3647;
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 5;
    animation: fade-out-background 0.5s ease-in-out both 1s;
  }
  @keyframes fade-out-background {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      z-index: 0;
    }
  }
  .mobile-logo-animation {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    animation: start-mobile-animation 1s ease-in-out both 1s;
  }
  @keyframes start-mobile-animation {
    0% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
    70% {
      opacity: 0.5;
      transform: scale(0.1);
      top: 5%;
      left: 5%;
    }
    100% {
      opacity: 0;
      transform: scale(0);
      z-index: 0;
      top: 5%;
      left: 5%;
    }
  }
  /*** Login Page ***/
  .form-class {
    height: 450px !important;
  }
  .form-class .arrow-left-icon {
    position: absolute;
    top: 5%;
    left: 5%;
    cursor: pointer;
  }
  .form-width-mobile {
    margin-right: 8px;
    margin-left: 8px;
  }
  .log-in-logo {
    top: 3% !important;
    height: 100px;
  }
  .log-in-checkbox-div {
    flex-direction: column;
    text-align: center;
  }
  .mobile-remember-me {
    display: flex;
    text-align: center;
    margin-bottom: 16px;
  }
  #remember-checkbox {
    margin: 0;
  }
  .forgot-password-link {
    margin: 0 !important;
  }
  .mobile-login-buttons {
    display: flex;
    flex-direction: column;
  }
  .log-in-button {
    color: white !important;
    background-color: #2A3647 !important;
    cursor: pointer;
    padding: 10px 8px !important;
    border-radius: 6px !important;
    font-weight: 700 !important;
    border: none !important;
    margin-right: 0 !important;
    margin-bottom: 16px;
  }
  .log-in-button:hover {
    background-color: #29ABE2 !important;
  }
  .sign-up {
    top: 81% !important;
    right: 0% !important;
    left: 0% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px !important;
  }
  /*** Sign-Up Page ***/
  .mobile-button-width {
    width: 150px;
  }
  .mobile-space-bottom {
    margin-bottom: 40px !important;
  }
  .log-in-headline {
    font-size: 47px !important;
  }
  .log-in-button {
    font-size: 16px !important;
    width: 180px !important;
  }
}
@media (max-height: 700px) {
  .log-in-logo {
    height: 75px;
    top: 3% !important;
  }
}/*# sourceMappingURL=signup.css.map */